@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@layer components{
    .drawer{
        @apply fixed top-0 right-0 bottom-0 w-[40vw] p-4 bg-neutral-100 shadow
    }
}
@theme{
    --color-main-red: #CF4345;
    --color-white: #FFF;
    --color-light-white:#FAFAFA;
    --color-text-black:#2F2F2F;
    --color-blue:#42A3C7;
    --color-green:#15800F;
    --color-text-light:#737373;
    --color-grey:#E8E8E8;
}

.btn-main{
    font-size: 0.875rem;
    font-weight: 600;
    background-color: var(--color-main-red);
    padding:0.75rem 1.25rem;
    border-radius: 0.5rem;
    color: var(--color-light-white);
    border: 1px solid var(--color-main-red);
    transition: 0.2s;
    display: inline-block;
}
.btn-main:hover{
    background-color: var(--color-white);
    color: var(--color-main-red);
    border: 1px solid var(--color-main-red);
}

.btn-sec{
    font-size: 0.875rem;
    font-weight: 600;
    background-color: var(--color-white);
    padding:0.75rem 1.25rem;
    border-radius: 0.5rem;
    color: var(--color-main-red);
    border: 1px solid var(--color-main-red);
    transition: 0.2s;
    display: block;
}
.btn-sec:hover{
    background-color: var(--color-main-red);
    color: var(--color-light-white);
}
.btn-search{
    font-size: 0.875rem;
    border: 1px solid var(--color-grey);
    padding:0.75rem 1.25rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.sro{
    display: none;
}
