@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme{
    --color-main-red: #CF4345;
    --color-white: #FFF;
    --color-light-white:#FAFAFA;
    --color-text-black:#2F2F2F;
    --color-blue:#42A3C7;
    --color-green:#15800F;
    --color-text-light:#737373;
    --color-grey:#E8E8E8;
}

@layer components{
    .drawer{
        @apply fixed top-0 right-0 bottom-0 w-[40vw] p-4 bg-neutral-100 shadow
    }
    .btn-main{
        @apply shadow-2xs text-sm font-semibold border bg-main-red border-main-red rounded-lg text-white transition duration-100 inline-block py-3 px-5
    }
    .btn-main:hover{
        @apply bg-white text-main-red border border-main-red
    }
    .btn-sec{
        @apply shadow-2xs text-sm font-semibold border text-main-red bg-white border-main-red rounded-lg  transition duration-100 inline-block py-3 px-5
    }
    .btn-sec:hover{
        @apply bg-main-red text-white border border-main-red
    }
    .btn-search{
        @apply shadow-2xs text-sm border border-grey py-3 px-5 inline-block w-full rounded-lg
    }
}


